
<meta charset="utf-8" />
<title>@ViewBag.Title | Hospital Management System</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Hospital Management System Dashboard" name="description" />
<meta content="Themesbrand" name="author" />
<!-- App favicon -->
