@model WebApplicationSampleTest2.Models.Ward

@{
    ViewBag.Title = "Edit Ward";
    // Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Edit Ward</h4>
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="WardId" />

                    <div class="row">

                        <div class="col-lg-6 mb-3">
                            <label asp-for="WardName" class="form-label">Ward Name</label>
                            <input asp-for="WardName" class="form-control" />
                            <span asp-validation-for="WardName" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label asp-for="WardType" class="form-label">Ward Type</label>
                            <select asp-for="WardType" asp-items="ViewBag.WardTypes" class="form-control select2">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="WardType" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label asp-for="FloorNumber" class="form-label">Floor Number</label>
                            <input asp-for="FloorNumber" class="form-control" />
                            <span asp-validation-for="FloorNumber" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label asp-for="IsActive" class="form-label">Status</label>
                            <select asp-for="IsActive" asp-items="ViewBag.StatusList" class="form-control select2"></select>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>


                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
}